.product {
  background: rgb(255, 255, 255, 0)
    url("../../../src/assets/images/background/leaf.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-blend-mode: multiply;
}
